body {
    margin: 0 auto;
    font-family: 'Karla', sans-serif;
}

.container {
    margin: 60px auto;
    width: 400px;
    padding: 20px;
    background: #1F2937;
}

h1 {
    margin: 0;
    font-weight: 800;
    letter-spacing: 0.8px;
}

.title1 {
    color: #fff;
}

.title2 {
    color: #4ADF86;
}

.subtitle {
    color: #D5D4D8;
}

.generate-btn {
    padding: 9px 17px 9px 15px;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.2px;
    background: #10B981;
    color: #fff;

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    border: none;
}

hr {
    border: 1px solid #2F3E53;
    margin-top: 25px
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.password {
    text-align: center;
    width: 150px;
    height: 16px;
    padding: 10px 20px;
    color: #55F991;
    background: #273549;
    border-radius: 5px;
}